.ipynb_checkpoints
__pycache__/
.DS_Store
gradCPT_roimean_dataShare.mat
gradCPT_behav_dataShare*
Rosenberg_etal_2017_TiCS_network_assignment*
subject_map.json
yeo_parcels/
nilearn_cache/
Untitled*.ipynb
literature
notes.md
presentation
dataset-1
results/1stlevels/dataset-1/*
results/betas/*
manuscript_figures
results/betas/edges.npy
.vscode
QA_notebooks
development_misc
development_notebooks
presentation
*.ai
*.svg
